<!DOCTYPE html>
<html>
    <body>
        <h1>Comment Application</h1>
        <br>

        <form action="/" method="post" name="post-comments">
            <h2>Post a comment below:</h2>
            <textarea rows="5" cols="40" maxlength="250" name="commentbox">
                Add a comment...
            </textarea>
            <br>

            <input type="submit" value="Post comment"/>
        </form>
    </body>
</html>