doctype html 

html 
    head 
    title Comment Filter Application
body 

    form(name="comment-page", method ="post")
        div.input 
            span.label Post a comment below: 
            br
            textarea(name="commentbox", cols="40", rows="5",maxlength="250")  
        div.actions 
            input(type="submit", value="Post Comment")
    br
       
    table 
        thead 
            tr 
                h1 Comments
        tbody 

            each comment in comments 
                tr 
                    td #{comment.text} 
                    