doctype html
script.
    function toggleVis(){
        var x = document.getElementById("passwordInput");
        if(x.type === "password"){
            x.type = "text";
        } else{
            x.type = "password";
        }
    }

html
    title Comment Filter Application
    h2 #{message}
    if errors !== undefined 
        each error in errors 
            p #{error.msg} #{error.param}
    form(action='/login', method='post')
        p 
            | Username: 
            input(type='text' name='username' required='')
        p 
            | Password: 
            input(type='password' name='password' id="passwordInput" required='')
            input(type='checkbox' onclick='toggleVis()')
            | Show Password
        button(type='submit') Login 

    br
    h2 Not a user?
    a(href='/register') Register Now! 


