head 
    style.
        table, th, tr, td {
            border:1px solid black;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            margin: auto;
            vertical-align: left;
            background: #e6e6e6;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        .topnav a {
            float: left;
            color: black;
            padding: 15px 15px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav a.active {
            background-color: #3c7ae6;
            color: white;
        }
body
    .topnav
        a(href='home') Main Page
        a(href='profile') My Posts
        a(href='logout') Logout
    br
    br
    br
    h1(style='clear:left') #{message}
    br
    br
    h2 Comments 
    table(style='width:30%', height='90px')
        thead
            tr 
                th Username
                th Comment
                th Delete
        tbody
            each comment in comments
                tr
                    td(style='text-align:center') #{ comment.username }
                    td(style='text-align:center') #{ comment.text }
                    td 
                        a(href='/profile/#{comment.comment_id}/delete' onClick="return confirm('Are you sure you want to delete this comment?');") Delete
                        