script.
    function toggleVis(){
        var x = document.getElementById("passwordInput2");
        if(x.type === "password"){
            x.type = "text";
        } else{
            x.type = "password";
        }
    }
h1 New User 
if Errors !== undefined 
    each error in Errors 
        p #{error.msg}:
        p #{error.param}
form(action='/register' method ='post')
    table 
        tbody 
            tr 
                td First Name: 
                td
                    input(type='text' name='firstname' required='')
            tr 
                td Last Name: 
                td 
                    input(type='text' name='lastname' required='')
            tr 
                td Username: 
                td 
                    input(type='text' name='username' required='')
            tr 
                td Password: 
                td 
                    input(type='password' name='password' id = 'passwordInput2' required='')
                    input(type='checkbox' onclick='toggleVis()')
                    | Show Password
    button(type='submit') Register