table(style='width:30%', height='90px')
		thead
			tr 
				th Username
				th Comment
		each comment in comments
			tr
				td(style='text-align:center') #{ comment.username }
				td(style='text-align:center') #{ comment.text }