head
	style.
		table, th, tr, td {
			border:1px solid black;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
		body {
			margin: auto;
			vertical-align: left;
			background: #e6e6e6;
		}
		.topnav {
			overflow: hidden;
			background-color: #333;
		}
		.topnav a {
			float: left;
			color: white;
			padding: 15px 15px;
			text-decoration: none;
			font-size: 17px;
		}
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}
		.topnav a.active {
			background-color: #3c7ae6;
			color: white;
		}
	script.
		function passwordChange() {
			alert("Password updated.");
		}
body
	.topnav
		a(href='home') Main Page
		a(href='profile') My Posts
		a(href='logout') Logout
	br
	br
	br
	h1 Edit Your Profile
	br
	br
	br
	form(action='/update', method='post', name='firstNameUpdate')
		table
			tbody
				tr
					td #{firstname}
					td
						div.input
							input(type='text' name='firstName' required )
					td 
						div.actions
							input(type='submit', value='Change First Name')
	form(action='/update', method='post', name='lastNameUpdate')
		table
			tbody
				tr
					td #{lastname}
					td
						div.input
							input(type='text' name='lastName' required)
					td 
						div.actions
							input(type='submit', value='Change Last Name')
	form(action='/update', method='post', name='passwordUpdate')
		table
			tbody
				tr
					td Password
					td
						div.input
							input(type='text' name='password' required)
					td 
						div.actions
							button(onclick='passwordChange()', type='submit') Change Password 
	form(action='/update', method='post', name='usernameUpdate')
		table
			tbody
				tr
					td #{username}
					td
						div.input
							input(type='text' name='username' required)
					td 
						div.actions
							input(type='submit', value='Change Username')
