head
	style.
		table, th, tr, td {
			border:1px solid black;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
			text-align: center;
		}
		body {
			margin: auto;
			vertical-align: left;
			background: #e6e6e6;
			text-align: center;
		}
		.topnav {
			overflow: hidden;
			background-color: #333;
		}
		.topnav a {
			float: left;
			color: white;
			padding: 15px 15px;
			text-decoration: none;
			font-size: 17px;
		}
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}
		.topnav a.active {
			background-color: #3c7ae6;
			color: white;
		}
	script.
		function passwordChange() {
			alert("Password updated.");
		}

	script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js', integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s', crossorigin='anonymous')
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')

body
	.topnav
		a.active.btn-primary(class='active', href='home') Main Page
		a(href='profile') My Posts
		a(href='logout', style="float:right") Logout
	br
	br
	div.container.col-md-4
		div.row
			h2 Edit Your Profile
		div.row
			div.form-group
				form(action='/update', method='post', name='firstNameUpdate')
					label(for='firstName') Update First Name
						div.input
							input.form-control(type='text' name='firstName' placeholder=`${firstname}` required)
						div.actions
							input.btn.btn-secondary.btn-sm(type='submit', value='Change First Name')
			div.form-group
				form(action='/update', method='post', name='lastNameUpdate')
					label(for='lastName') Update Last Name
						div.input
							input.form-control(type='text' name='lastName' placeholder=`${lastname}` required)
						div.actions
							input.btn.btn-secondary.btn-sm(type='submit', value='Change Last Name')
			div.form-group
				form(action='/update', method='post', name='passwordUpdate')
					label(for='password') Update Password
						div.input
							input.form-control(type='text' name='password' required)
						div.actions
							button.btn.btn-secondary.btn-sm(onclick='passwordChange()', type='submit') Change Password 
			div.form-group
				form(action='/update', method='post', name='usernameUpdate')
					label(for='username') Update Username
						div.input
							input.form-control(type='text' name='username' placeholder=`${username}` required)
						div.actions
							input.btn.btn-secondary.btn-sm(type='submit', value='Change Username')
