script.
	var update = function(comment_id) {
		console.log('update')
	var url = "/comments/" + comment_id

	fetch(url, {
		method: 'PUT',
		body: JSON.stringify({
			comment: document.form.commentbox.value,
		})
	})
	.then((response) => response.json())
	.then((json) => console.log(json));
	}

//- <button onClick='update(7)'>Update </button>


form(name="update-comment", action='/comments/#{comments.id}?_method=PUT', method="POST")
	div.input
		input(type="hidden", name="_method", value="PUT")
	div.input 
		span.label Post a comment:
		br
		textarea(placeholder='Add a comment...',name="commentbox", cols="40", rows="5",maxlength="250", value="comments.commentbox")
	div.actions
		input(type="submit", value="update", onclick='update(#{comments.id})')
br